{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fakeLoader.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/story_ppw.js' %}"></script>
    <script src="{% static 'js/fakeLoader.min.js' %}"></script>

</head>
<body>
    <div id="fakeloader"></div>
    <div>
        {% block pagecontent %}
        {% endblock %}
    </div>
    <script type="text/javascript">
    $("#fakeloader").fakeLoader();
    </script>
    <script type="text/javascript">
    $("#fakeloader").fakeLoader({
    timeToHide:1200, //Time in milliseconds for fakeLoader disappear
    zIndex:"999",//Default zIndex
    spinner:"spinner4",//Options: 'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6', 'spinner7'
    bgColor:"#34495e", //Hex, RGB or RGBA colors
    });
    </script>
</body>
</html>
