{% extends 'story_ppw_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title id="title">{% block title %}Landing Page{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
    {% include 'story_ppw_app/navbar.html' %}
    <h1 align="center">Hello, apa kabar?</h1>
    <h2>Theme Switcher</h2>
    <ul id="switcher">
        <li id="grayButton"></li>
        <li id="whiteButton"></li>
        <li id="blueButton"></li>
        <li id="yellowButton"></li>
    </ul>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="submit">Submit</button>
    </form>
    {% for status in statuses %}
        <h3>{{ status.status }}</h3>
        Published at {{ status.time }}
    {% endfor %}
    {% endblock %}
</body>
</html>
