{% extends 'story_ppw_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title id="title">{% block title %}Library{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
    {% include 'story_ppw_app/navbar.html' %}
    <h2>Theme Switcher</h2>
    <ul id="switcher">
        <li id="grayButton"></li>
        <li id="whiteButton"></li>
        <li id="blueButton"></li>
        <li id="yellowButton"></li>
    </ul>
    <h1>Library</h1>
    <button type="button" class="click" value="quilting">Quilting</button>
    <button type="button" class="click" value="programming">Programming</button>
    <button type="button" class="click" value="cooking">Cooking</button>
    <img src="/static/images/star1.png"><h2 id="counter">0</h2>
    <table id="library" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publish Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Star">Star</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    {% endblock %}
</body>
</html>
