<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#efef51">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="{% url 'index' %}">Status</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'profil' %}">Profil</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'library' %}">Library</a>
</li>
</ul>
</div>
</nav>
