{% extends 'story_ppw_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %}Bio{% endblock %}</title>
    </head>
    <body>
        {% block pagecontent %}
        {% include 'story_ppw_app/navbar.html' %}
        <h2>Theme Switcher</h2>
        <ul id="switcher">
            <li id="grayButton"></li>
            <li id="whiteButton"></li>
            <li id="blueButton"></li>
            <li id="yellowButton"></li>
        </ul>

	<img src="{% static 'images/n1.jpg' %}" alt="Profile Pict" align="left" style="width:30%;margin-left:35%;margin-right:35%;">
<p style="font-size:20px">
	&nbsp;&nbsp;Name                     : <br>
	&nbsp;&nbsp;- Edrick Lainardi <br>
	&nbsp;&nbsp;Occupation           	: <br>
	&nbsp;&nbsp;- Student <br>
	&nbsp;&nbsp;Birthdate               	: <br>
	&nbsp;&nbsp;- 22 January 2000 <br>
	&nbsp;&nbsp;Hobby                    : <br>
	&nbsp;&nbsp;- Listening to songs <br>
	&nbsp;&nbsp;Motto                    : <br>
	&nbsp;&nbsp;- Live Your Life With No Regrets
</p>
<div class="container-fluid secondary-background-color bottom">
<p style="font-size:20px">
Was born in Medan, Sumatera Utara, but didn’t stay there for long,<br>
since i relocated to Pekanbaru, Riau when i was still in kindergarten. <br>
I went to a school named Education 21 during my junior school years. Then, <br>
i went to SMP and SMA Darma Yudha to continue my studies, and now here i am <br>
in the University of Indonesia, studying computer science in the faculty of <br>
computer science :)
</p>
<button class="accordion">Aktivitas</button>
<div class="panel">
  <p>Menjalankan program studi S1 Ilmu Komputer di Fasilkom UI :)</p>
</div>

<button class="accordion">Pengalaman Organisasi/Kepanitiaan</button>
<div class="panel">
  <p>Staff OC KMBUI XXVI <br>
      Staff Konsum Waisak KMBUI ke 30 <br>
      PJ RFK KMBUI Awal Tahun 2018
  </p>
</div>

<button class="accordion">Prestasi</button>
<div class="panel">
  <p>Tidak ada :')</p>
</div>
</div>
{% endblock %}
</body>
</html>
