{% extends 'story_ppw_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title id="title">{% block title %}Register{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
    {% include 'story_ppw_app/navbar.html' %}
    <h1 align="center">Hello, apa kabar?</h1>
    <h2>Theme Switcher</h2>
    <ul id="switcher">
        <li id="grayButton"></li>
        <li id="whiteButton"></li>
        <li id="blueButton"></li>
        <li id="yellowButton"></li>
    </ul>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
    <table>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}
            {{ form.email }} <br>
            {{ form.password }} <br>
            <button type="submit" id="submit">Submit</button>
        </form>
    </table>
    <p id='id'>
    </p>
    {% endblock %}
</body>
</html>
